@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  @apply hover:dark:bg-darkmode-pBtn-h dark:bg-darkmode-pBtn dark:text-white hover:bg-lightmode-pBtn-h bg-lightmode-pBtn text-black rounded-md w-1/2 drop-shadow-xl;
  transition: 0.5s;
}
hedder {
  @apply dark:text-darkmode-text dark:bg-darkmode-bg;
  background-color: #f6eedf;
}
body {
  @apply dark:text-darkmode-text dark:bg-darkmode-bg;
  background-color: #f6eedf;
}
main {
  @apply dark:text-darkmode-text dark:bg-darkmode-bg;
  background-color: #f6eedf;
  transition: 0.5s;
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
}
.navbar {
  @apply dark:bg-darkmode-accent dark:text-darkmode-text;
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: #e3e3e3;
  transition: 0.5s;
  padding-left: 10px;
  overflow: hidden;
  z-index: 1001;
  top: 0;
}
.navbar:hover {
  width: 220px;
}
.navbar ul {
  position: relative;
  height: 100vh;
}
.navbar ul li {
  position: relative;
}
.navbar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}
.navbar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 70px;
  font-size: 1.5em;
  transform: 0.5s;
}
.navbar ul li a .text {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.navbar ul li:hover a .icon,
.navbar ul li:hover a .text {
  @apply dark:text-lightmode-pBtn;
  color: #c79338;
}
.textDivider {
  display: flex;
  flex-direction: column;
  opacity: 60%;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  align-items: center;
  width: 60px;
}
.textDivider::after {
  background: white;
  opacity: 60%;
  content: "";
  margin-top: 2px;
  height: 1px;
  width: 36px;
  display: block;
}
.menuListBottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-height: 534px) {
  .menuListBottom {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
.cardImage {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.listImage img {
  height: 72px;
  width: 107px;
}
@media (max-width: 640px) {
  .listDis {
    display: none;
  }
  .listTitle {
    @apply col-start-1 col-span-6;
  }
  .listPrice {
    @apply col-start-7 col-span-2;
  }
  .listImage {
    @apply col-start-9 col-span-4 justify-self-end;
  }
}
@media (min-width: 1024px) {
  .listTitle {
    @apply col-start-1 col-span-2;
  }
  .listDis {
    @apply col-start-3 col-span-7;
  }
  .listPrice {
    @apply col-start-10 col-span-1 justify-self-center;
  }
  .listImage {
    @apply col-start-11 col-span-2 justify-self-end;
  }
}
