@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}
button {
  transition: 0.5s;
}
hedder {
  @apply dark:text-darkmode-text dark:bg-darkmode-bg;
  background-color: #f6eedf;
}
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-thumb {
  background: #f6eedf;
}
body::-webkit-scrollbar-thumb {
  background: #c79338;
}

main {
  @apply dark:text-darkmode-text dark:bg-darkmode-bg;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  padding: 1rem;
  min-height: 100vh;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}
footer {
  margin-left: 5rem;
  padding: 1rem;
}

.loginDiv {
  position: relative;
  text-align: center;
  padding: 48px;
  height: 500px;
  width: 448px;
}
.BtnsLogin {
  width: 79%;
  position: absolute;
  bottom: 48px;
}

/* navbar */
.navbar {
  position: fixed;
  transition: 0.2s ease;
  overflow-y: auto;
  z-index: 999;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:nth-child(6) {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}
.nav-link .nav-icon {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link {
  @apply hover:text-darkmode-pBtn;
  letter-spacing: 0.05em;
  transition: 0.3s;
}

/* large screen navbar */
@media (min-width: 641px) {
  .navbar {
    @apply border-r-[1px] border-slate-300 bg-lightmode-accent;
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity 0.3s;
  }
}
/* small screen navbar */
@media (max-width: 640px) {
  main {
    margin: 0;
    padding: 0;
  }
  footer {
    margin-left: 0;
    padding: 0;
  }
  .divider {
    display: none;
  }
  .logo {
    display: none;
  }
  .navbar {
    @apply bg-lightmode-accent pb-10 rounded-t-[1rem] border-x-[1px] border-t-[1px] border-slate-300 dark:border-x-[1px] dark:border-t-[1px] dark:border-slate-800 fixed;
    width: 100%;
    height: 5rem;
    display: fixed;
    bottom: -4rem;
  }
  .drawer-swipe {
    @apply bg-lightmode-accent dark:bg-darkmode-accent;
    height: 10px;
    justify-content: center;
    align-self: center;
    display: flex;
  }
  .drawer-swipe::before {
    @apply bg-slate-400 border-[0.5px] border-slate-600 dark:bg-slate-700;
    content: "";
    width: 40px;
    height: 10px;
    border-radius: 1.5rem;
    top: 5px;
    position: relative;
  }
  .navbar-nav {
    @apply grid grid-cols-1;
  }
  .navbar:hover {
    overflow-y: hidden;
    width: 100%;
    height: 12rem;
    display: fixed;
    bottom: 0rem;
    @apply px-2;
  }
  .navbar-nav {
    @apply grid-cols-3 my-5 gap-2;
  }
  .nav-link {
    @apply hover:text-darkmode-text dark:hover:text-lightmode-pBtn;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    height: 5rem;
    padding: 5px;
    background-color: #c7923872;
    transition: 0.4s ease-in-out;
    @apply rounded-md dark:bg-darkmode-bg dark:hover:text-lightmode-pBtn hover:bg-darkmode-pBtn hover:text-white dark:hover:bg-blue-900
    border-[1px] border-slate-300 dark:border-slate-800;
  }

  .link-text {
    margin: 0;
    display: block;
  }
}
.listGrid {
  padding: 48px;
}
.tdImage {
  max-width: 96px;
  min-width: 96px;
  max-height: 96px;
  min-height: 96px;
}
/* register page */
@media (max-width: 640px) {
  .registerNamesInput {
    @apply grid-cols-1 gap-0;
  }
  .tdDescription {
    display: none;
  }
  .tdTitle {
    padding-left: 0;
  }
  .listGrid {
    padding: 50px 10px 10px;
  }
}
tr {
  display: flex;
  width: 100%;
  align-items: center;
}
td:nth-child(4) {
  margin-left: auto;
}
.cardGrid {
  @apply grid-cols-1;

  justify-content: center;
}
/* inputs */
[type="checkbox"] {
  opacity: 0;
}
[type="checkbox"] + label {
  @apply text-black dark:text-white;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
}

[type="checkbox"] + label::before {
  @apply outline outline-2 outline-slate-600 bg-lightmode-bg dark:bg-darkmode-bg rounded-md;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
  transition: 0.3s ease-in;
}
[type="checkbox"]:checked + label::before {
  @apply outline outline-2 outline-darkmode-pBtn bg-lightmode-bg dark:bg-darkmode-bg;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
}
[type="checkbox"]:checked + label::after {
  @apply bg-check-light-pattern dark:bg-check-dark-pattern;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
  background-size: contain;
  transition: 0.2s ease-in-out;
}
